<% flash.each do |key, msg| %>
  <div class="alert alert-<%= key %>"><%= msg %></div>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to "Back", users_path %>
<br>
<%= link_to "Edit", edit_user_path(@user) %>
