<%= link_to "Back", root_path, class: "link-option" %>
<h1>Posts</h1>

<table class="show-table-data">
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= link_to "Show", post, class: "link-option" %></td>
        <td><%= link_to "Edit", edit_post_path(post), class: "link-option" %></td>
        <td><%= link_to "Destroy", post, method: :delete, data: { confirm: "Are you sure?" }, class: "link-option" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Post", new_post_path, class: "link-option" %>
